# System Dependency: FFmpeg must be installed separately (e.g. sudo apt install ffmpeg)
flask
python-dotenv
torch
openai-whisper
ffmpeg-python
deep-translator
google-generativeai
openai
opencc-python-reimplemented
